/* ==== Estilos personalizados para el calendario ==== */
.react-datepicker {
  border-radius: 16px !important;
  border: 2px solid #d97706 !important; /* naranja */
  font-family: 'Inter', sans-serif;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.react-datepicker__header {
  background: linear-gradient(to right, #92400e, #b45309, #f59e0b);
  color: white;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-weight: bold;
  color: #fff !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background: #d97706 !important; /* naranja */
  color: white !important;
  border-radius: 50% !important;
}

.react-datepicker__day--today {
  border: 1px solid #b45309 !important; /* marrón */
  border-radius: 50%;
}

.react-datepicker__day:hover {
  background: #fcd34d !important; /* ámbar */
  border-radius: 50%;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  border-left: 1px solid #d97706;
}

.react-datepicker__time-list-item--selected {
  background-color: #b45309 !important;
  color: white !important;
}
